[submodule "modules/dlib"]
	path = modules/dlib
	url = https://github.com/davisking/dlib
[submodule "modules/armadillo-code"]
	path = modules/armadillo-code
	url = https://github.com/conradsnicta/armadillo-code/
[submodule "modules/mlpack"]
	path = modules/mlpack
	url = https://github.com/mlpack/mlpack
[submodule "modules/matlab2cpp"]
	path = modules/matlab2cpp
	url = https://github.com/jonathf/matlab2cpp
